@use '../../styles/variables' as *;

.footer {
  text-align: center;
  padding: $spacing-unit * 0.5;
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
  margin-top: $spacing-unit * 4;
}
